<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Enter Dummy Text</h2>

    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="/images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsible__content">
    <ul class="list">
      <li class="list__item">Items 1</li>
      <li class="list__item">Items 2</li>
      <li class="list__item">Items 3</li>
    </ul>
  </div>
</div>
<script src="/javascript/main.js"></script>
