<section class="block container block-domain">
  <header class="block__header">
    <h2 class="block__heading">Starting @ Rs.150 per month</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil,
      laboriosam.
    </p>
  </header>
  <div class="input-group">
    <input type="text" class="input" placeholder="Enter domain name here..." />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="/images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li><span class="badge badge--secondary">.ug </span></li>
    <li><span class="badge badge--secondary">.pg </span></li>
    <li><span class="badge badge--secondary">.doge </span></li>
    <li><span class="badge badge--secondary">.heinji </span></li>
    <li><span class="badge badge--secondary">.bhenji </span></li>
    <li><span class="badge badge--secondary">.kenichi </span></li>
  </ul>
</section>
